.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Cards__loading {
  align-items: center;
  color: $firstColor;
  display: flex;
  font-size: 6rem;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}
.Cards__item {
  border: 1px solid $borderColor;
  margin-bottom: 2rem;
  width: 23%;
  &--33 {
    width: 32%;
  }
  @media screen and (max-width: 1199px) {
    width: 48%;
  }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    width: 100%;
  }
}
.Cards__figure {
  background-color: $grayColor;
  position: relative;
}
.Cards__badge {
  color: white;
  font-size: .75rem;
  padding: .3rem .5rem;
  position: absolute;
  right: 0;
  top: 0;
  text-transform: uppercase;
  &--nuevo {
    background-color: $firstColorAlt;
  }
  &--seminuevo {
    background-color: $fourthColor;
  }
  &--populares {
    background-color: $accentColor;
  }
}
.Cards__info {
  padding: .75rem 1rem;
  text-align: center;
}
.Cards__title {
  color: $headingColor;
  font-size: 1.875rem;
  @media screen and (max-width: 991px) {
    font-size: 1.25rem;
  }
}
.Cards__text {
  strong {
    color: $accentColor;
    font-size: 1.25rem;
  }
}
.Cards__subtitle {
  font-size: 1.5rem;
  @media screen and (max-width: 991px) {
    font-size: 1.125rem;
  }
}
.Cards__resalt {
  color: $accentColor;
  font-size: 2.25rem;
  font-weight: 700;
  @media screen and (max-width: 991px) {
    font-size: 1.625rem;
  }
}
