.Main {
  margin: 0 0 2rem;
}
.Main__filters {
  align-items: center;
  border-bottom: 1px solid $borderColor;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 60%;
  @media screen and (max-width: 991px) {
    border-bottom: none;
    margin-bottom: 1.5rem;
    width: 100%;
  }
}
.Main__menuFilters {
  display: flex;
  margin-bottom: .3rem;
  padding-left: 0;
  width: 100%;
  @media screen and (max-width: 991px) {
    justify-content: space-between;
  }
  li {
    font-weight: 300;
    list-style: none;
    margin-right: 1.5rem;
    text-transform: uppercase;
    @media screen and (max-width: 991px) {
      margin-right: 0;
    }
    a {
      background-color: $firstColor;
      border-radius: .3rem;
      color: white;
      cursor: pointer;
      display: block;
      padding: .75rem 1.5rem;
      @media screen and (max-width: 767px) {
        padding: .75rem;
      }
      &:focus, &:hover {
        background-color: $firstColorAlt;
        color: white;
      }
    }
    &.active {
      font-weight: 700;
      a {
        background-color: $firstColorAlt;
        color: white;
      }
    }
  }
}
.Main__navigationFilters {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  @media screen and (max-width: 991px) {
    display: none;
  }
  li {
    font-size: 2.5rem;
    list-style: none;
    a {
      color: $textColor;
      &:focus, &:hover {
        color: $secondColor;
      }
    }
  }
}
.Main__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 0;
  }
}
.Main__footer {
  .Pagination__list {
    justify-content: center;
  }
}
