.Single__header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
  .Single__header__title, .Single__feeMonth {
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }
  @media screen and (max-width: 991px) {
    flex-wrap: wrap;
  }
}
.Single__state {
  font-size: .875rem;
  font-weight: 300;
  &--nuevo {
    color: $firstColor;
  }
  &--seminuevo {
    color: $fourthColor;
  }
  &--populares {
    color: $accentColor;
  }
}
.Single__title {
  color: $headingColor;
  font-size: 2.75rem;
  font-weight: 700;
}
.Single__sold {
  color: $thirdColor;
  font-size: .875rem;
  font-weight: 700;
}
.Single__price {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}
.Single__feeMonth, .Single__priceFinal {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
.Single__feeSubtitle {
  font-size: 1.5rem;
}
.Single__fee {
  color: $firstColor;
  font-size: 2.75rem;
  font-weight: 700;
}
.Single__priceList {
  padding-left: 0;
  text-align: right;
  @media screen and (max-width: 767px) {
    text-align: left;
  }
  li {
    list-style: none;
    span {
      color: #3b3b3b;
      font-size: 1.25rem;
    }
  }
}
.Single__form {
  margin: 0 auto;
  width: 50%;
  @media screen and (max-width: 1400px) {
    width: 70%;
  }
  @media screen and (max-width: 1199px) {
    width: 90%;
  }
}
